$avatar-lg = 64px
$avatar-md = 50px
$avatar-sm = 40px
$avatar-xs = 32px

._avatar
  border-radius 50%
  overflow hidden
  background white

  .inner-avatar
    background-color: #fff;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 70%;
    width: 70%;
    margin: 15%;

  &.xs
    width $avatar-xs
    height $avatar-xs
  &.sm
    width $avatar-sm
    height $avatar-sm
  &.md
    width $avatar-md
    height $avatar-md
  &.lg
    width $avatar-lg
    height $avatar-lg